@charset "UTF-8";
@font-face {
  font-family: "Canela-Thin";
  src: url("Canela-Thin/Canela-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal; }
@keyframes fadeBottom {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateY(50px);
    /* X軸方向に50px */ }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateY(0); } }
@keyframes fadeTop {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateY(-50px);
    /* X軸方向に50px */ }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateY(0); } }
.fadein {
  opacity: 0;
  transform: translateY(40px);
  transition: 2s; }

body {
  width: 100%;
  margin: 0 auto;
  max-width: 100%; }

h1 {
  font-family: Canela-Thin;
  color: #454447;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 100; }

h2 {
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px; }

p {
  font-family: 'Sulphur Point', serif;
  letter-spacing: 1px;
  font-weight: 100;
  color: #454447; }

a {
  text-decoration: none;
  color: #454447;
  font-family: 'Sulphur Point', serif;
  font-weight: 200;
  color: #454447;
  letter-spacing: 2px; }

header {
  padding: 50px 70px;
  height: 700px;
  background: #f0ded1; }
header .header-container {
  display: flex;
  justify-content: space-between; }
header .header-container .main-logo {
  position: absolute;
  top: 40px;
  left: 50px;
  margin: auto;
  width: 160px;
  height: auto;
  animation-duration: .5s;
  /* アニメーション時間 */
  animation-name: fadeTop;
  /* アニメーション名 */
  animation-iteration-count: 1;
  /* アニメーションの繰り返し（無限）*/ }
header .header-container .glovel-menu {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  animation-duration: .7s;
  /* アニメーション時間 */
  animation-name: fadeTop;
  /* アニメーション名 */
  animation-iteration-count: 1;
  /* アニメーションの繰り返し（無限）*/ }
header .header-container .glovel-menu li {
  text-decoration: none; }
header .top-text {
  position: absolute;
  top: 300px;
  right: 200px;
  animation-duration: 1.3s;
  /* アニメーション時間 */
  animation-name: fadeBottom;
  /* アニメーション名 */
  animation-iteration-count: 1;
  /* アニメーションの繰り返し（無限）*/ }
header .btn {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap; }
header .btn1 {
  background: #454447;
  width: 40%;
  height: 44px;
  border-radius: 3%;
  display: flex;
  justify-content: center; }
header .btn2 {
  border: 1px solid #454447;
  width: 40%;
  height: 44px;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  transition: .3s; }
header .btn1 a {
  margin: auto;
  color: #fff;
  font-size: 12px; }
header .btn2 a {
  margin: auto;
  color: #222;
  font-size: 12px; }
header .btn2:hover {
  border: 1px solid #dcdcdc; }

.box1 {
  width: 600px;
  height: 450px;
  background: #fff;
  position: relative;
  top: 60px;
  left: 350px; }

.pic1 {
  height: 500px;
  width: auto;
  position: relative;
  bottom: 350px;
  left: 180px;
  animation-duration: 1s;
  /* アニメーション時間 */
  animation-name: fadeBottom;
  /* アニメーション名 */
  animation-iteration-count: 1;
  /* アニメーションの繰り返し*/ }

.container {
  position: relative; }
.container .box2 {
  width: 600px;
  height: 350px;
  background: #5b788e;
  position: relative;
  top: 80px;
  left: 100px; }
.container .newin {
  position: absolute;
  top: 50px;
  left: 300px;
  width: 500px;
  margin: auto;
  z-index: 15; }
.container .pic2 {
  height: 500px;
  position: relative;
  left: 600px;
  bottom: 200px;
  z-index: 10; }
.container .box3 {
  width: 400px;
  height: 350px;
  background: #f8f2ed;
  position: relative;
  bottom: 400px;
  left: 850px; }
.container .sub-text {
  position: absolute;
  top: 500px;
  left: 100px;
  height: 200px;
  border-left: 20px solid #f0ded1;
  width: 400px; }
.container .sub-text p {
  padding-left: 20px;
  padding-top: 60px; }
.container p {
  font-size: 13px;
  line-height: 27px; }
.container .introduction {
  position: relative;
  bottom: 300px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto; }
.container .introduction .pic3 {
  width: 700px;
  height: 700px;
  z-index: 12; }
.container .introduction .introduction-text {
  width: 50%;
  text-align: left; }
.container .introduction .introduction-text .description {
  display: none; }
.container .introduction .introduction-text h1 {
  position: relative;
  right: 100px;
  z-index: 12;
  font-size: 100px;
  color: #454447;
  font-weight: bold;
  letter-spacing: 3px; }
.container .introduction .introduction-text p {
  padding-left: 20px; }
.container .introduction .introduction-text .btn2 {
  border: 1px solid #454447;
  width: 70%;
  height: 44px;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  transition: .3s;
  margin: auto;
  margin-top: 20px; }
.container .introduction .introduction-text .btn2 a {
  padding: 10px 10px 0 0; }
.container .box4 {
  width: 100%;
  height: 500px;
  background: #f0ded1;
  position: relative;
  bottom: 400px; }
.container .color {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 650px;
  flex-wrap: wrap; }
.container .color img {
  width: 300px;
  height: 45%;
  max-width: 100%; }
.container .style {
  position: absolute;
  top: 1600;
  left: 200px; }
.container .snap {
  position: relative;
  bottom: 470px; }
.container .snap1 {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto; }
.container .snap1 img {
  width: 50%;
  height: 50%; }
.container .snap1 .snap1-text {
  width: 50%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
.container .snap2 {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row-reverse; }
.container .snap2 img {
  width: 50%;
  height: 50%; }
.container .snap2 .snap2-text {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
.container .footer-area {
  background: #454447;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 40; }
.container .footer-area .main-logo {
  width: 200px;
  margin: auto;
  padding-top: 40px;
  display: flex;
  justify-content: center; }
.container .footer-area p {
  text-align: center;
  padding-top: 20px; }
.container .footer-area .icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 14%;
  margin-top: 28px; }
.container .footer-area .icon i {
  margin: auto;
  font-size: 16px;
  color: #fff; }
.container .footer-area .icon i:first-of-type {
  border: 1px solid #fff;
  padding: 10px 11px;
  border-radius: 50%;
  transition: all 1s; }
.container .footer-area .icon i:first-of-type:hover {
  color: #454447;
  border: 1px solid #454447; }
.container .footer-area .icon i:last-of-type {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
  transition: all 1s; }
.container .footer-area .icon i:last-of-type:hover {
  color: #454447;
  border: 1px solid #454447; }
.container footer {
  background: #454447;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0; }
.container footer P {
  text-align: center;
  color: #fff; }

/*メディアクエリ*/
@media screen and (max-width: 650px) {
  h1 {
    font-size: 20px; }

  p {
    font-size: 14px; }

  header {
    padding: none;
    height: 550px; }
  header .header-container .main-logo {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px; }
  header .header-container .glovel-menu {
    display: none; }
  header .header-container i {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #454447; }
  header .header-container #gloval-nav {
    background: #454447;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 170px;
    transform: translateX(100%);
    -webkit-transition: all 0.6s;
    transition: all .4s ease-out; }
  header .header-container #gloval-nav ul {
    list-style: none; }
  header .header-container #gloval-nav ul li {
    margin: 20px; }
  header .header-container #gloval-nav ul li:first-of-type {
    margin-top: 80px; }
  header .header-container #gloval-nav ul a {
    color: #fff;
    font-family: Canela-Thin; }
  header .header-container .bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: rgba(69, 68, 71, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    display: none; }
  header .btn {
    width: 100%; }
  header .btn .btn1 {
    width: 100%; }
  header .btn .btn2 {
    width: 100%;
    margin: auto; }
  header .box1 {
    width: 80%;
    height: 480px;
    background: #fff;
    position: absolute;
    top: 70px;
    left: 0; }
  header .pic1 {
    position: absolute;
    top: 120px;
    left: 80px; }
  header .top-text {
    padding-left: 20px; }

  .container {
    position: sticky; }
  .container .box2 {
    width: 350px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 20; }
  .container .newIn {
    width: 150px;
    position: absolute;
    left: 20px;
    top: 15px; }
  .container .pic2 {
    height: 500px;
    position: relative;
    left: 40px;
    top: 100px;
    z-index: 10; }
  .container .box3 {
    width: 365px;
    height: 450px;
    background: #f8f2ed;
    position: relative;
    bottom: 300px;
    left: 50px; }
  .container .sub-text {
    width: 90%;
    margin: auto;
    position: absolute;
    margin-top: 170px;
    left: 20px; }
  .container .Introduction {
    flex-wrap: wrap;
    position: static; }
  .container .Introduction .pic3 {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 900px;
    margin-top: 0px; }
  .container .Introduction .introduction-text {
    margin-top: 100px;
    width: 100%;
    margin: auto; }
  .container .Introduction .introduction-text .description {
    display: block;
    width: 85%;
    position: relative;
    margin: 350px 0 20px 0;
    z-index: 13; }
  .container .Introduction .introduction-text h1 {
    display: none; }
  .container .Introduction .introduction-text p {
    z-index: 12;
    position: static; }
  .container .Introduction .introduction-text .btn2 {
    width: 100%;
    bottom: 20px;
    z-index: 12;
    padding: 0; }
  .container .box4 {
    display: none;
    margin: 0;
    bottom: 0; }
  .container .color {
    margin-top: 40px;
    position: static;
    background: #f0ded1;
    width: 100%;
    padding: 60px 0; }
  .container .color img {
    width: 45%;
    height: 40%;
    padding-top: 20px; }
  .container .style {
    width: 350px;
    position: absolute;
    top: 2150px;
    left: 40px; }
  .container .footer-area {
    position: relative;
    height: 200px; }
  .container .footer-area .main-logo {
    width: 100px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center; }
  .container .footer-area .glovel-menu {
    margin: 20px; }
  .container .footer-area .icon i {
    margin: 0 10px; }
  .container .snap {
    position: static;
    margin: 0 auto;
    margin: 100px 0; }
  .container .snap img {
    width: 50%;
    max-width: 100%;
    max-height: 100%;
    height: 20%; } }
.open #gloval-nav {
  -webkit-transform: translateX(0);
  transform: translateX(0) !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

/*# sourceMappingURL=main.css.map */
