
$navy:#5b788e;
$Lightbeige:rgba(248,242,237,1);
$Darkgray:#c6b7a2;
$begie:rgba(240,222,209,1);
$Black:rgba(69,68,71,1);


@mixin box($width,$height){
	width:$width;
	height:$height;
}

@font-face {
  font-family: "Canela-Thin";
  src: url("Canela-Thin/Canela-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@keyframes fadeBottom {
  0% {
    opacity: 0;/* 透明 */
    transform: translateY(50px);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translateY(0);
  }
}

@keyframes fadeTop {
  0% {
    opacity: 0;/* 透明 */
    transform: translateY(-50px);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translateY(0);
  }
}

.fadein {
  opacity : 0;
    transform: translateY(40px);
    transition: 2s;
}

body{
	width:100%;
	margin: 0 auto;
	max-width: 100%;
}

h1{
	font-family: Canela-Thin;
	color:$Black;
	font-size: 50px;
	letter-spacing: 2px;
	font-weight: 100;
}
h2{
	font-family: 'Noto Serif JP', serif;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 2px;
}
p{
	font-family: 'Sulphur Point', serif;
	letter-spacing: 1px;
	font-weight: 100;
	color:$Black;
}
a{
	text-decoration: none;
	color:$Black;
	font-family: 'Sulphur Point', serif;
	font-weight: 200;
	color:$Black;
	letter-spacing: 2px;
}

header{
	padding: 50px 70px;
	height:700px;
	background:$begie;
	.header-container{
		display: flex;
	    justify-content: space-between;
		.main-logo{
			position: absolute;
			top: 40px;
			left:50px;
			margin: auto;
		    width:160px;
			height: auto;
			animation-duration: .5s;/* アニメーション時間 */
            animation-name: fadeTop;/* アニメーション名 */
            animation-iteration-count: 1;/* アニメーションの繰り返し（無限）*/
	    }
		.glovel-menu{
			position: absolute;
			top: 40px;
			right:50px;
			width: 300px;
		    display: flex;
			justify-content: space-between;
			list-style: none;
			animation-duration: .7s;/* アニメーション時間 */
            animation-name: fadeTop;/* アニメーション名 */
            animation-iteration-count: 1;/* アニメーションの繰り返し（無限）*/
			li{
				text-decoration: none;
			}
		}
   }
	.top-text{
		position: absolute;
		top:300px;
		right:200px;
		animation-duration: 1.3s;/* アニメーション時間 */
        animation-name: fadeBottom;/* アニメーション名 */
        animation-iteration-count: 1;/* アニメーションの繰り返し（無限）*/
	}
	.btn {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
}
.btn1 {
    background: $Black;
	width: 40%;
	height: 44px;
	border-radius: 3%;
	display: flex;
    justify-content: center;
}
.btn2 {
	border: 1px solid $Black;
	width: 40%;
	height: 44px;
	border-radius: 3%;
	display: flex;
    justify-content: center;
	margin-left: 15px;
	transition: .3s;
}
.btn1 a{
	margin: auto;
    color: #fff;
	font-size: 12px;
}
.btn2 a{
	margin: auto;
	color: #222;
	font-size: 12px;
}
.btn2:hover{
	border: 1px solid #dcdcdc;
}
}


.box1{
	@include box(600px, 450px);
	background: #fff;
	position: relative;
	top:60px;
	left:350px;
}
.pic1{
	height: 500px;
	width:auto;
	position:relative;
	bottom:350px;
	left:180px;
	animation-duration: 1s;/* アニメーション時間 */
    animation-name: fadeBottom;/* アニメーション名 */
    animation-iteration-count: 1;/* アニメーションの繰り返し*/
}

.container{
	position:relative;
	
	.box2{
		@include box(600px,350px);
		background:$navy;
		position: relative;
		top:80px;
		left:100px;
	}
	
	.newin{
		position: absolute;
		top:50px;
		left:300px;
		width: 500px;
		margin: auto;
		z-index: 15;
	}
	.pic2{
		height: 500px;
		position: relative;
		left:600px;
		bottom:200px;
		z-index: 10;
	}
	
	.box3{
		@include box(400px,350px);
		background:$Lightbeige;
		position: relative;
		bottom:400px;
		left:850px;
	}
	
	.sub-text{
		position:absolute;
		top:500px;
		left:100px;
		height: 200px;
		border-left: 20px solid $begie;
		width:400px;
		p{
			padding-left: 20px;
			padding-top:60px;
		}
	}
	p{
		font-size: 13px;
		line-height: 27px;
	}
	
	.introduction{
		position: relative;
		bottom:300px;
		width: 80%;
	    display: flex;
		justify-content: center;
		margin: auto;
		.pic3 {
		width:700px;
		height: 700px;
		z-index: 12;
	}
		.introduction-text{
			width:50%;
			text-align: left;
			.description{
				display: none;
			}
			h1{
				position: relative;
				right:100px;
				z-index: 12;
				font-size: 100px;
				color:$Black;
				font-weight: bold;
				letter-spacing: 3px;
			}
			p{
				padding-left: 20px;
			}
			.btn2 {
	            border: 1px solid $Black;
            	width: 70%;
	            height: 44px;
             	border-radius: 3%;
	            display: flex;
                justify-content: center;
              	transition: .3s;
				margin: auto;
				margin-top: 20px;
				a{
					padding: 10px 10px 0 0;
				}
           }
		}
	}
	
	.box4{
		@include box(100%,500px);
		background: $begie;
		position: relative;
		bottom:400px;
	}
	.color{
		width:90%;
		margin: auto;
		display: flex;
		justify-content: space-around;
		position: relative;
		bottom:650px;
		flex-wrap: wrap;
		img{
			width: 300px;
			height:45%;
			max-width: 100%;
		}
	}
	.style{
		position: absolute;
		top:1600;
		left:200px;
	}
	
	.snap{
		position: relative;
		bottom: 470px;
	}
	
	.snap1{
		width: 60%;
	    display: flex;
		justify-content: center;
		margin: auto;
		img{
			width:50%;
			height:50%;
		}
		.snap1-text{
			width:50%;
			height: auto;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.snap2{
		width: 60%;
	    display: flex;
		justify-content: center;
		margin: auto;
		flex-direction:row-reverse;
		img{
			width:50%;
			height:50%;
		}
		.snap2-text{
			width:50%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	 }
	.footer-area{
		background:$Black;
	    width:100%;
	    height: 300px;
	    position: absolute;
	    bottom: 40;
		.main-logo{
				width: 200px;
				margin: auto;
				padding-top:40px;
				display: flex;
				justify-content: center;
			}
		p{
			text-align: center;
			padding-top: 20px;
		}
		.icon{
			display: flex;
			justify-content: center;
			margin: 0 auto;
			width:14%;
			margin-top:28px;
			i{
			margin: auto;
			font-size: 16px;
			color:#fff;
				&:first-of-type{
				  border: 1px solid #fff;
			      padding: 10px 11px;
				  border-radius: 50%;
				  transition: all 1s;
					&:hover{
						color:$Black;
						border: 1px solid $Black;
					}
				}
				&:last-of-type{
				  border: 1px solid #fff;	
				  padding: 10px;
				  border-radius: 50%;
				 transition: all 1s;
					&:hover{
						color:$Black;
						border: 1px solid $Black;
					}
				}
		}
	  }
	}
	
	footer {
	background:$Black;
	width:100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	P{
		text-align: center;
	color:#fff;
	}
 }
}

/*メディアクエリ*/
@media screen and (max-width:650px) {
	
	
	
	h1{
		font-size: 20px;
	}
	
	p{
		font-size:14px;
	}
	
	header{
		padding:none;
	    height:550px;
		.header-container{
		.main-logo{
			width: 100px;
			position: absolute;
	        top: 20px;
			left:20px;
		}
		.glovel-menu{
			display: none;
		}
			i{
			    display: block;
		    	position: absolute;
		        right:20px;
				top:20px;
				font-size: 20px;
				color:$Black;
		}
		
			
		#gloval-nav{
				background: $Black;
				z-index: 100;
				position: fixed;
				top: 0;
				right: 0;
				bottom:0;
				left:170px;
				transform: translateX(100%);
                -webkit-transition: all .6s ;
                transition:all .4s ease-out;			
				
				ul{
					list-style: none;
					li{
						margin: 30px 10px;
						&:first-of-type{
							margin-top:80px;
						}
						a{
						font-size: 30px;
						color: #fff;
						font-family: Canela-Thin;
					}
				  }
				}
			}
	
			.bg{
				position:fixed;
				top: 0;
				right: 0;
				bottom:0;
				left:0;
				z-index: 99;
				background: rgba($Black,0.5%);
				-webkit-transition: all 1s ;
                transition: all 1s ;
	            display: none;
			}
		
	  }
		.btn{
			width:100%;
			.btn1{
				width:100%;
			} 
			.btn2{
				width:100%;
				margin:auto;
			} 
		}
		
		.box1{
			@include box(80%, 480px);
	        background: #fff;
	        position: absolute;
        	top:70px;
        	left:0;
		}
		.pic1{
			position: absolute;
	        top:120px;
			left:80px;
		}
		.top-text{
			padding-left:20px;
		}
	}
	
	.container{
		position:sticky;
		.box2{
			@include box(350px,400px);
			position: absolute;
			left:0;
			top:20;
		}
		.newIn{
			width:150px;
			position: absolute;
			left:20px;
			top:15px;
		}
		.pic2{
		    height: 500px;
	     	position: relative;
	    	left:40px;
	    	top:100px;
	    	z-index: 10;
	 }
		.box3{
			@include box(365px,450px);
	    	background:$Lightbeige;
    		position: relative;
    		bottom:300px;
	    	left:50px;
		}
		
		.sub-text{
			width: 90%;
			margin: auto;
			position:absolute;
			margin-top: 170px;
	      	left: 20px;
		}
		.Introduction{
			flex-wrap: wrap;
			position: static;
			.pic3{
				width:100%;
				height: auto;
				margin: auto;
				position: absolute;
				top:900px;
				margin-top: 0px;
			}
			
			.introduction-text{
				margin-top: 100px;
				width: 100%;
				margin: auto;
				
				.description{
					display: block;
					width: 85%;
					position: relative;
					margin:350px 0 20px 0;
					z-index: 13
				}
				h1{
				  display: none;
				}
				p{
				  z-index: 12;
					position: static;
				}
				.btn2{
			    	width: 100%;
				    bottom:20px;
				    z-index: 12;
					padding: 0;
				}
			}
		}
		
		.box4{
			display: none;
			margin: 0;
			bottom: 0;
			
		}
		.color{
			   margin-top: 40px;
			   position: static;
			   background: $begie;
			   width:100%;
			   padding:30px 0 50px 0;
			img{
				width: 45%;
				height: 35%;
				padding-top: 20px;
			}
		}
		.style{
			width: 350px;
			position: absolute;
			top:2150px;
			left: 30px;
		}
		.footer-area{
			 position: relative;
			.main-logo{
				width: 100px;
				margin: auto;
				padding-top:30px;
				display: flex;
				justify-content: center;
			}
			height: 200px;
			.glovel-menu {
				margin: 20px;
			}
			.icon i{
				margin: 0 10px;
			}
		}
		
		.snap{
			position: static;
			margin: 0 auto;
			margin: 90px 0 120px 0;
           
			img{
				width: 50%;
				max-width: 100%;
				max-height: 100%;
				height:20%;
			}
		}
	}
}

 .open #gloval-nav {
					-webkit-transform:translateX(0);
                    transform:translateX(0) !important;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                }



















